<nav class="navbar navbar-expand-lg " style="background-color: #2C3333;">
    <a class="navbar-brand" style="color: #CBE4DE;">Bienvenido</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-0">
        <li class="nav-item">
          <a class="nav-link" href="/login" style="color: #CBE4DE;">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Salir
          </a>
        </li>
      </ul>
    </div>
  </nav>

<dx-toolbar id="toolbar">
    <dxi-item
        widget="dxButton"
        [options]="buttonOptions"
        location="before">
    </dxi-item>
</dx-toolbar>

<dx-drawer
    template="template"
    [height]="900"
    [minSize]="37"
    revealMode="expand"
    openedStateMode="shrink"
    [(opened)]="isDrawerOpen"

    [closeOnOutsideClick]="true"
    style="background-color: rgb(227, 208, 183);">
    <div *dxTemplate="let data of 'template'">
        <dx-list 
            [items] = "navigation" 
            [width]="240"
            selectionMode="single"
            (onSelectionChanged)="this.isDrawerOpen = false"
            itemTemplate="links">
            <div *dxTemplate="let link of 'links'">
                <a [routerLink]="['/' + link.path]" style="text-decoration: none;">
                    <div>
                        <div class="dx-list-item-icon-container">
                            <i class="dx-icon dx-list-item-icon" style="background-image: url({{link.icon}});">
                             
                            </i>
                        </div>
                        <span style="color: #2E4F4F;">{{link.text}}</span>
                    </div>
                </a>
            </div>
        </dx-list>
    </div>
    <div id="view" class="container">
        <router-outlet></router-outlet>
    </div>
</dx-drawer>