<div class="long-title">
    <h3>Tabla de Razones de Baja de Inventario</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="inventoryreasonissues"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createInventoryReasonIssues($event)"
    (onRowUpdated)="updateInventoryReasonIssues($event)"
    (onRowRemoved)="deleteInventoryReasonIssues($event)"
    >
    <dxi-column dataField="reasons" caption="Razón" fixed="true"></dxi-column>

    <dxo-editing
        mode="popup"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
        <dxo-form>
            <dxo-popup
            title="Editar Tabla"
            [showTitle]="true">
            </dxo-popup>
            <dxi-item itemType="group" colCount="2" colSpan="2" caption="Editar Razon">
                <dxi-item dataField="reasons"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>