<div class="container">
    <div class="container-title">
    <h3 class="long-title" style="text-align: center; margin-top: 15px; margin-right: 5px;">
       GoldenSoft
    </h3>
    <img src="assets/manzana-100.png" style="width: 65px; margin-top: 5px;">
    <div class= "login-container" style="margin-top: 50px; width: 450px;">
       
        <form
        (submit)="verifyLogin($event)">
            <div>
                <div class="item">Usuario</div>
                <dx-text-box class="text-box">
                    <dx-validator>
                        <dxi-validation-rule
                        type="required"
                        message="Usuario es requerido">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <div>
                <div class="item">Contraseña</div>
                <dx-text-box class="text-box" mode="password">
                    <dx-validator>
                        <dxi-validation-rule
                        type="required"
                        message="Contraseñaes requerida">
                        </dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
            <br>
            <dx-button class="button" type="success" text="Ingresar" [useSubmitBehavior]="true">
            </dx-button>
        </form>
    </div>
    
    <div *ngIf="isLoading" class="animation">
        <div class="spinner-border text-primary mb-2" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
        <div style="font-size: 25px;">Cargando...</div>
      </div>
    
</div>

<div style="display: flex;">
<a href="https://github.com/ArmandoTeranCastillo">
    <span style="background-color: transparent;" >
      <img src="assets/icons8-github-100-green.png" style="width: 60px;">
    </span>
  </a>
  <div style="color: #EDF5E1; margin-top: 18px; margin-left: 10px;">Armando Teran Castillo</div>
</div>