<h3 class="long-title">Bienvenido a GoldenSoft</h3>

<div class= "login-container">
    <form
    (submit)="verifyLogin($event)">
        <div>
            <div>Usuario</div>
            <dx-text-box>
                <dx-validator>
                    <dxi-validation-rule
                    type="required"
                    message="Usuario es requerido">
                    </dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
        <div>
            <div>Contraseña</div>
            <dx-text-box>
                <dx-validator>
                    <dxi-validation-rule
                    type="required"
                    message="Contraseñaes requerida">
                    </dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
        <dx-button type="default" text="Ingresar" [useSubmitBehavior]="true">
        </dx-button>
    </form>
</div>
