<div class="long-title">
    <h3>Tabla de Variedades</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="variety"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]="true"
    (onRowInserted)="createVariety($event)"
    (onRowUpdated)="updateVariety($event)"
    (onRowRemoved)="deleteVariety($event)"
    >
    <dxi-column dataField="nameVariety" caption="Nombre" fixed="true"></dxi-column>

    <dxo-editing
        mode="popup"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
        <dxo-form>
            <dxo-popup
            title="Editar Tabla"
            [showTitle]="true">
            </dxo-popup>
            <dxi-item itemType="group" colCount="2" colSpan="2" caption="Editar Variedad">
                <dxi-item dataField="nameVariety"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>