<div class="long-title">
    <h3>Tabla de Calidades</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="quality"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createQuality($event)"
    (onRowUpdated)="updateQuality($event)"
    (onRowRemoved)="deleteQuality($event)"
    >
    <dxi-column dataField="nameQuality" caption="Nombre" fixed="true"></dxi-column>

    <dxo-editing
        mode="row"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
    </dxo-editing>
</dx-data-grid>