<div class="long-title">
    <h3>Tabla de Calidades</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="quality"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createQuality($event)"
    (onRowUpdated)="updateQuality($event)"
    (onRowRemoved)="deleteQuality($event)"
    >
    <dxi-column dataField="nameQuality" caption="Nombre" fixed="true"></dxi-column>

    <dxo-editing
        mode="popup"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
        <dxo-form>
            <dxo-popup
            title="Editar Tabla"
            [showTitle]="true">
            </dxo-popup>
            <dxi-item itemType="group" colCount="2" colSpan="2" caption="Editar Calidad">
                <dxi-item dataField="nameQuality"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>