.long-title{
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }

@media print {
    body * {
      display: none;
    }
    .barcode * {
      display: inline;
    }
    .barcode {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  