<div class="long-title">
    <h3>Tabla de Detalles de Compra</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="purchasedetails"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createPurchaseDetails($event)"
    (onRowUpdated)="updatePurchaseDetails($event)"
    (onRowRemoved)="deletePurchaseDetails($event)"
    >
    <dxi-column dataField="details" caption="Detalles" fixed="true"></dxi-column>
    <dxi-column dataField="purchaseOrderId" caption="Órden de Compra" fixed="true">
        <dxo-lookup [dataSource]="purchaseorder" valueExpr="id" displayExpr="id"></dxo-lookup>
    </dxi-column>

    <dxo-editing
        mode="popup"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
        <dxo-form>
            <dxo-popup
            title="Editar Tabla"
            [showTitle]="true">
            </dxo-popup>
            <dxi-item itemType="group" colCount="2" colSpan="2" caption="Editar Detalles de Compra">
                <dxi-item dataField="details"></dxi-item>
                <dxi-item dataField="purchaseOrderId">
                    <dxo-lookup [dataSource]="purchaseorder" valueExpr="id" displayExpr="id">
                    </dxo-lookup>
                </dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>