<div class="long-title">
    <h3>Tabla de Bajas de Inventario</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    #dataGrid
    [dataSource]="inventoryissues"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createInventoryIssues($event)"
    (onRowUpdated)="updateInventoryIssues($event)"
    (onRowRemoved)="deleteInventoryIssues($event)"
    >
    <dxi-column dataField="numberIssues" caption="No.Baja" fixed="true"></dxi-column>
    <dxi-column dataField="dateIssue" caption="Fecha de Baja" fixed="true"  dataType="date"></dxi-column>
    <dxi-column dataField="inventoryId" caption="Registro" fixed="true">
        <dxo-lookup [dataSource]="inventory" valueExpr="inventoryId" displayExpr="inventoryId"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="reasonIssues.id" caption="Razon de Baja" fixed="true">
        <dxo-lookup [dataSource]="inventoryreasonissues" valueExpr="id" displayExpr="reasons"></dxo-lookup>
    </dxi-column>

    <dxo-editing
        mode="popup"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
        <dxo-form>
            <dxo-popup
            title="Editar Tabla"
            [showTitle]="true">
            </dxo-popup>
            <dxi-item itemType="group" colCount="2" colSpan="2" caption="Editar Baja de Inventario">
                <dxi-item dataField="numberIssues"></dxi-item>
                <dxi-item dataField="dateIssue"></dxi-item>
                <dxi-item dataField="inventoryId" >
                    <dxo-lookup [dataSource]="inventory" valueExpr="id" displayExpr="id">
                    </dxo-lookup>
                </dxi-item>
                <dxi-item dataField="reasonIssues.id">
                    <dxo-lookup [dataSource]="inventoryreasonissues" valueExpr="id" displayExpr="reasons">
                    </dxo-lookup>
                </dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>