<div class="long-title">
    <h3>Tabla de Bajas de Inventario</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="inventoryissues"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createInventoryIssues($event)"
    (onRowUpdated)="updateInventoryIssues($event)"
    (onRowRemoved)="deleteInventoryIssues($event)"
    >
    <dxi-column dataField="numberIssues" fixed="true"></dxi-column>
    <dxi-column dataField="dateIssue" fixed="true"></dxi-column>
    <dxi-column dataField="inventoryId" fixed="true"></dxi-column>
    <dxi-column dataField="reasonIssuesId" fixed="true"></dxi-column>

    <dxo-editing
        mode="row"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
    </dxo-editing>
</dx-data-grid>