<div class="long-title">
    <h3>Tabla de Clientes</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="clients"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createClients($event)"
    (onRowUpdated)="updateClient($event)"
    (onRowRemoved)="deleteClient($event)"
    >
    <dxi-column dataField="name" caption="Nombre" fixed="true"></dxi-column>

    <dxo-editing
        mode="popup"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
        <dxo-form>
            <dxo-popup
            title="Editar Tabla de Clientes"
            [showTitle]="true">
            </dxo-popup>
            <dxi-item itemType="group" colCount="2" colSpan="2" caption="Editar Cliente">
                <dxi-item dataField="name"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>