<div class="long-title">
    <h3>Tabla de Clientes</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="clients"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createClients($event)"
    (onRowUpdated)="updateClient($event)"
    (onRowRemoved)="deleteClient($event)"
    >
    <dxi-column dataField="name" caption="Nombre" fixed="true"></dxi-column>

    <dxo-editing
        mode="row"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
    </dxo-editing>
</dx-data-grid>