<div class="long-title">
    <h3>Tabla de Inventario</h3>
</div>

<dx-data-grid 
    id="dataGrid"
    [dataSource]="inventory"
    keyExpr="id"
    [allowColumnReordering]="false"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showRowLines]= "true"
    (onRowInserted)="createInventory($event)"
    (onRowUpdated)="updateInventory($event)"
    (onRowRemoved)="deleteInventory($event)"
    >
    <dxi-column dataField="id" caption="Registro" fixed="true" [allowEditing]="false" ></dxi-column>
    <dxi-column dataField="numberPallet" caption="Tarima" fixed="true" ></dxi-column>
    <dxi-column dataField="numberBatch" caption="No.Lote" fixed="true"></dxi-column>
    <dxi-column dataField="date" caption="Fecha" fixed="true"></dxi-column>
    <dxi-column dataField="numberBoxes" caption="No.Caja" fixed="true"></dxi-column>
    <dxi-column dataField="barcode" caption="Código" fixed="true"></dxi-column>
    <dxi-column dataField="caliber.id" caption="Calibre" fixed="true">
        <dxo-lookup [dataSource]="calibers" valueExpr="id" displayExpr="nameCaliber"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="variety.id" caption="Variedad" fixed="true">
        <dxo-lookup [dataSource]="variety" valueExpr="id" displayExpr="nameVariety"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="quality.id" caption="Calidad" fixed="true">
        <dxo-lookup [dataSource]="quality" valueExpr="id" displayExpr="nameQuality"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="typeBox.id" caption="Tipo de Caja" fixed="true">
        <dxo-lookup [dataSource]="typebox" valueExpr="id" displayExpr="nameTypeBox"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="client.id" caption="Cliente" fixed="true">
        <dxo-lookup [dataSource]="client" valueExpr="id" displayExpr="name"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="purchaseOrder.id" caption="Órden de Compra" fixed="true">
        <dxo-lookup [dataSource]="purchaseorder" valueExpr="id" displayExpr="id"></dxo-lookup>
    </dxi-column>

    <dxo-editing
        mode="row"   
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [confirmDelete]="true">
    </dxo-editing>

</dx-data-grid>